name : service ci 

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop  

jobs:
  build:
  
    runs-on: ubuntu-latest #This step tell githut to spins up an ubuntu vm
    
    steps:
    
      - name: Checkout source
        uses: actions/checkout@v4 #This line checkout the repo

      - name: install Java
        uses: actions/setup-java@v4 #Enable maven to cache dependencies for fater builds
        with:
          ditribution: "temurin"
          java-version: "17"
          
      - name: Build with maven #This step runs the tests
        run: mvn clean verify

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: | 
            ${{ runner.os }}-m2   

      - name:  build docker image
        run:  docker build -t my_sesrvice . | echo " building docker image"

      - name: Login to docker registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Deploy
        run: |
          helm upgrade --install springboot-demo ./helm \
          --set image.tag=${{ github.sha }}


    
  

  
